{% if group %}
	{% for group_li in group_list %}
		{% if group_li.name == group.name %}
			<li class="group__bold">{{ group_li.name }}</li>
		{% else %}
			<li><a class="group__anchor" id="{{ group_li.name|slugify }}" href="{% url 'minerals:group_list' pk=group_li.pk %}">{{ group_li.name }}</a></li>
		{% endif %}
	{% endfor %}
{% else %}
	{% for group_li in group_list %}
		<li>
			<a class="group__anchor" id="{{ group_li.name|slugify }}" href="{% url 'minerals:group_list' pk=group_li.pk %}">{{ group_li.name }}</a>
		</li>
	{% endfor %}
{% endif %}